---
title: Coordinate reference systems
---

<script src="/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/rmarkdown-libs/jquery/jquery.min.js"></script>
<link href="/rmarkdown-libs/datatables-css/datatables-crosstalk.css" rel="stylesheet" />
<script src="/rmarkdown-libs/datatables-binding/datatables.js"></script>
<link href="/rmarkdown-libs/dt-core/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="/rmarkdown-libs/dt-core/css/jquery.dataTables.extra.css" rel="stylesheet" />
<script src="/rmarkdown-libs/dt-core/js/jquery.dataTables.min.js"></script>
<link href="/rmarkdown-libs/crosstalk/css/crosstalk.css" rel="stylesheet" />
<script src="/rmarkdown-libs/crosstalk/js/crosstalk.min.js"></script>


<div id="sub-topics" class="section level2">
<h2>Sub-topics</h2>
<div id="htmlwidget-1" style="width:100%;height:auto;" class="datatables html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"filter":"none","data":[["<a href='./datums'>Datums<\/a>","<a href='./geographic-coordinate-systems'>Geographic coordinate systems<\/a>","<a href='./on-the-fly-transformation'>On-the-fly transformation<\/a>","<a href='./projected-coordinate-systems'>Projected coordinate systems<\/a>"],[0,0,1,0],[0,0,0,0],[0,0,0,0]],"container":"<table class=\"display\">\n  <thead>\n    <tr>\n      <th>Sub-topics<\/th>\n      <th>Activities<\/th>\n      <th>Tutorials<\/th>\n      <th>Exercises<\/th>\n    <\/tr>\n  <\/thead>\n<\/table>","options":{"dom":"ft","searching":false,"columnDefs":[{"className":"dt-right","targets":[1,2,3]}],"order":[],"autoWidth":false,"orderClasses":false}},"evals":[],"jsHooks":[]}</script>
</div>
