---
title: "Investigating disparate CRS's"
author: "In-class activity"
date: "On-the-fly transformation"
---



<div id="overview" class="section level2">
<h2>Overview</h2>
<p>This activity is designed to help students gain experience with on-the-fly
transformation. Specifically, it is designed to show how desktop GISystems
“mask” some processes. This is often convenient for the user, but can produce
unexpected results without proper knowledge of what’s going on behind the
scenes.</p>
<p>This activity is designed to be guided by the instructor <em>without</em> students
having access to it. Since much of this activity involves contemplation,
prediction, and evaluation, it’s better if they don’t blast ahead by filling in
all of the blanks and ignoring instructions.</p>
</div>
<div id="activity" class="section level2">
<h2>Activity</h2>
<p>In this activity, we will explore a feature common in modern desktop GISystems:
on-the-fly projection (or on-the-fly transformation). We will work with two
shapefiles: one with a projected coordinate system, and one with a geographic
coordinate system.</p>
<ol style="list-style-type: decimal">
<li><p>Download and unzip the <a href="../data/on_the_fly.zip"><code>on_the_fly.zip</code></a>
file. Inspect the coordinate reference system (CRS) of <code>co_geo</code> by either (a)
observing the <code>.prj</code> file or (b) by adding the file to a GIS map document and
investigating the CRS through dialog boxes. What is the CRS?</p></li>
<li><p>View the extent of the x,y data, and add the dataset to the map
document if you didn’t do this in the previous step. What are the minimum and
maximum x,y values?</p></li>
</ol>
<p>Now, we will inspect some information about <code>co_proj</code>, the second shapefile,
independent of <code>co_geo</code>. <em>It is important that you do not simply add the
shapefile to the map document at this phase.</em> First, close out of the GIS that
you are currently using, and restart it.</p>
<ol start="3" style="list-style-type: decimal">
<li><p>Now view <code>co_proj</code>‘s’ CRS and minimum x,y values. What are they?
How are they different from those of <code>co_geo</code>?</p></li>
<li><p>Now, add <code>co_proj</code> to the map. Clearly these are similar datasets
but with a different CRS’s and different minimum and maximum x,y values. What do
you think will happen when both are added to the map at the same time? Will the
features be aligned? Why or why not?</p></li>
<li><p>Now, add <code>co_geo</code> to the map and ensure that the <code>co_proj</code> layer
is on top of <code>co_geo</code>. Are the features aligned? What happened?</p></li>
</ol>
</div>
