/* just remove the footer line (ugly dashed line) 
.footer .footline {
    margin-top: 3rem;
}

.footline {margin-top: 3rem;
}
*/

.footline {
    margin-top: 3rem;
    border-top: 1px solid #183f81;
    font-size: smaller;
}
